<ion-view cache-view="false" view-title={{Title}}>
  <ion-content>
	<div ng-controller="AddItemCtrl" class="md-padding" ng-cloak>
	  <div>
		<md-card>
		    <md-card-title>
		      <md-card-title-text>
            <span class="md-headline">{{Title}}</span>
		      </md-card-title-text>
		    </md-card-title>

		    <md-card-content>
			    <div layout="row">
			      <md-input-container>
              <label>{{textCategoryName}}</label>
              <md-select ng-model="selectedCategoryId">
                <md-option ng-value="category.ID" ng-repeat="category in categories">
                  <div ng-repeat="translation in category.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">{{translation.Text}}</div>
                </md-option>
              </md-select>
			        <img style="width: 30%" src="{{ImagePath}}/{{selectedCategoryId}}.jpg"/>
			      </md-input-container>
			    </div>
			    <div layout="row">
			      <md-input-container>
              <label>{{textItemName}}</label>
			      	<input type="text" ng-model="itemName" required/>
			      </md-input-container>

			      <md-input-container>
              <label>{{textLanguage}}</label>
			        <md-select ng-model="inputLanguage" required>
			            <md-option ng-value="inputLanguage.value" ng-repeat="inputLanguage in inputLanguageList">{{inputLanguage.name}}</md-option>
			        </md-select>
			      </md-input-container>

			    </div>
			    <div layout="row">
            <md-button ng-click='onTakeImageButtonClicked("camera")'>{{textCameraImage}}</md-button>
            <md-button ng-click='onTakeImageButtonClicked("album")'>{{textAlbumImage}}</md-button>
			    </div>
			    <div layout="row">
					<img id='myImage' />
			    </div>
			    <div layout="row">
            <md-button ng-click=onAddItemConfirmClicked()>{{textButtonConfirm}}</md-button>
		    	</div>
		    </md-card-content>
		</md-card>

		</div>
	</div>
  </ion-content>
</ion-view>
