<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools" style="text-align: center;">
      <div>{{subMenuProfileObject.AddItem}}: {{selectedCategoryName}}</div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <md-card>
      <md-card-content>
        <img style="width: 50%" src="{{ImagePath}}/{{selectedCategoryId}}.jpg" />
        <div style="float:right">
          <md-button class="md-raised" ng-click=onAddItemConfirmClicked()>{{subMenuProfileGeneral.ConfirmButton}}</md-button>
        </div>
        <div layout="row">
          <md-input-container style="width: 40%">
            <label>{{subMenuProfileGeneral.ItemName}}</label>
            <input ng-model="itemName" required />
          </md-input-container>
          <md-input-container style="width: 40%; float:right">
            <label>{{subMenuProfileGeneral.TargetLanguage}}</label>
            <md-select ng-model="inputLanguage" required>
              <md-option ng-value="inputLanguage.value" ng-repeat="inputLanguage in inputLanguageList">{{inputLanguage.name}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-content>
        <div layout="row">
          <md-button class="md-raised" ng-click='onTakeImageButtonClicked("camera")'>{{subMenuProfileGeneral.CameraImage}}</md-button>
          <md-button class="md-raised" ng-click='onTakeImageButtonClicked("album")'>{{subMenuProfileGeneral.AlbumImage}}</md-button>
        </div>
        <img style="width: 50%" id='myImage' />
      </md-card-content>
    </md-card>
  </md-dialog-content>
</md-dialog>
