<ion-view cache-view="false" view-title="Add Item">
  <ion-content>


	<div ng-controller="AddItemCtrl" class="md-padding" ng-cloak>
	  <div>


		<md-card>
		    <md-card-title>
		      <md-card-title-text>
		        <span class="md-headline">Add Item</span>
		        <!--<span class="md-subhead">Select your language preference</span>-->
		      </md-card-title-text>
		    </md-card-title>

		    <md-card-content>
			    <!--<h1 class="md-title">Select Category</h1>-->
			    <div layout="row">
			    <!--<div>-->
			      <md-input-container>
			      	<label>Select Category:</label>
			        <md-select ng-model="selectedCategoryId" ng-change="onSelectedCategoryChanged()">
			            <md-option ng-value="category.ID" ng-repeat="category in categories">{{category.DisplayName}}</md-option>
			        </md-select>
			        <img style="width: 30%" src="{{ImagePath}}/{{selectedCategoryId}}.jpg"/>
			      </md-input-container>
			    </div>
			    <div layout="row">
			      <md-input-container>
			      	<label>DisplayName:</label>
			      	<input type="text" ng-model="itemName" required/>
			      </md-input-container>

			      <md-input-container>
			      	<label>Input Language</label>
			        <md-select ng-model="inputLanguage">
			            <md-option ng-value="inputLanguage.value" ng-repeat="inputLanguage in inputLanguageList">{{inputLanguage.name}}</md-option>
			        </md-select>
			      </md-input-container>

			    </div>
			    <div layout="row">
				    <md-button ng-click='onTakeImageButtonClicked("camera")'>Camera Image</md-button>
					<md-button ng-click='onTakeImageButtonClicked("album")'>Album Image</md-button>
			    </div>
			    <div layout="row">
					<img id='myImage' />
			    </div>
			    <div layout="row">
		    		<md-button ng-click=onAddItemConfirmClicked()>Confirm. Add Item!</md-button>
		    	</div>
		    </md-card-content>
		</md-card>

		</div>
	</div>
  </ion-content>
</ion-view>
