<ion-view cache-view="false" view-title="{{categoryDisplayName}}">
  <ion-content>
    <div id="grid-container" class="container-fluid" ng-controller="GridController" ng-cloak>
      <div class="row">
        <div class="col-md-1 grid-column" containerPositioning="relative" ng-model="category.Items">

          <div ng-repeat="item in category.Items" style="float:left;width:32%">
            <div ng-click="onItemClicked($event, item.ID);" style="text-align:center;border:2px blue dashed;">
              <img width="100%" src='{{ImagePath}}/{{item.ID}}.jpg' />
              <div class='itemNormalContainer' style="line-height: {{itemNormalFontSize}}px;" ng-if="isShowDisplayName.checked">
                <!--<span class='itemNormalText' style="font-size : {{itemNormalFontSize}}px;">{{item.DisplayName}}</span>-->
                <div ng-repeat="translation in item.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                  <span class='itemNormalText' style="font-size : {{itemNormalFontSize}}px;">{{translation.Text}}</span>
                </div>
              </div>
              <!--<div style="width: 95%;text-align: center; white-space:nowrap;text-overflow: ellipsis;overflow: hidden;"><span style="font-size:{{itemNormalFontSize}};">{{item.DisplayName}}</span></div>-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
