<ion-view cache-view="false" view-title={{Title}}>
  <ion-content>
    <div ng-controller="DeleteItemCtrl" class="md-padding" ng-cloak>
      <div>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{Title}}</span>
            </md-card-title-text>
          </md-card-title>

          <md-card-content>
            <div layout="row">
              <md-input-container>
                <label>{{textCategoryName}}</label>
                <md-select ng-model="selectedCategoryId" ng-change="onSelectedCategoryChanged()">
                  <md-option ng-value="category.ID" ng-repeat="category in categories">
                    <div ng-repeat="translation in category.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">{{translation.Text}}</div>
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>{{textItemName}}</label>
                <md-select ng-model="selectedItemId">
                  <md-option ng-value="item.ID" ng-repeat="item in category.Items">
                    <div ng-repeat="translation in item.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">{{translation.Text}}</div>
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row">
              <img ng-if="selectedItemId" class='addDeleteImagePreview' style="width: 500px; height: 500px;" src="{{ImagePath}}/{{selectedItemId}}.jpg"
              />
            </div>

            <div layout="row">
              <md-button ng-click=onDeleteItemConfirmClicked()>{{textButtonConfirm}}</md-button>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </ion-content>
</ion-view>
