<ion-view view-title="{{menuProfileTitle.UserLogin}}" name="login-view" >
  <ion-content class="padding">
    <div ng-controller="LoginCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <div layout="row" layout-align="center">
              <span class="md-headline" layout-align="center center" style="font-size:25px;line-height:25px;">Login</span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="column" layout-align="space-around" class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="{{subMenuProfileObject.UserName}}" ng-model="Username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="{{subMenuProfileObject.Password}}" ng-model="Password">
            </label>
            <div>
              <md-button class="button button-block button-calm" ng-click="userLogin()">{{menuProfileTitle.UserLogin}}</md-button>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </ion-content>
</ion-view>
