<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools" style="text-align: center;">
        <div style="text-align: center;">Loading</div>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-click="onItemClicked($event);">
        <img class="enlarge_item_image" style="margin: auto; max-width: 80%;max-height: 60%;" alt="Loading" src="img/icons/Rolling.gif" />
        <h1> Current: {{downloaded}} / Total: {{total}}</h1>
        <h1>Percentage: {{precentage}}%</h1>
        <h1>{{message}}</h1>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
