<ion-view cache-view="false" view-title="{{menuProfileTitle.FacialPractice}}">
  <ion-content>
    <div class="container-fluid" ng-controller="FaceCtrl" ng-cloak>
      <div ng-show="isMenu">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div layout="row" layout-align="center">
                <span class="md-headline" layout-align="center center" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">{{menuProfileTitle.FacialPractice}}</span>
              </div>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card>
          <md-card-content ng-repeat="content in practiceContents" ng-click="onFacialPracticeClick($event, content)">
            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">
              {{content.PracticeName}}
            </span>
          </md-card-content>
        </md-card>
      </div>
      <div ng-hide="isMenu">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">
                <div>{{selectFacialPracticeObject.PracticeName}} <md-button class="md-raised" ng-click="backToMenu()" style="float: right">{{subMenuProfileGeneral.Back}}</md-button></div>
              </div>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;float: center;">
                <div>{{selectFacialPracticeObject.Hint}}</div>
              </div>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card>
          <md-card-content>
            <div layout="column" layout-align="space-between">
              <div layout="row" layout-align="space-around center">
                <div style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;font-weight: bold;">{{subMenuProfileObject.Demonstrate}}</div>
                <md-button class="md-raised" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;" ng-click="videoCapture()">{{subMenuProfileGeneral.Practice}}</md-button>
              </div>
              <div layout="row" layout-align="space-around center">
                <video controls src={{sampleVideoSrc}} width={{halfDeviceWidth}} type='video/mp4'></video>
                <video controls src={{practiceVideoSrc}} width={{halfDeviceWidth}} type='video/mp4'></video>
              </div>
            </div>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-title>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;" ng-click="uploadVideo()">{{subMenuProfileObject.Upload}}</md-button>
            </div>
          </md-card-title>
          <md-card-content>
            <div style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">
              总评分：{{returnMark.Total}}
            </div>
            <div style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">
              精密度: {{returnMark.Detail}}
            </div>
            <div style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">
              准确度: {{returnMark.Accuracy}}
            </div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </ion-content>
</ion-view>
