<ion-view cache-view="false" view-title="{{menuProfileTitle.Practicing}}">
  <ion-content>
    <div class="container-fluid" ng-controller="PracticingCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <div layout="row" layout-align="center">
              <span class="md-headline" layout-align="center center" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">{{menuProfileTitle.Practicing}}</span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <ion-list>
            <div layout="row" layout-align="space-around center">
              <ion-item item-content href="#/app/practicing/poem">
                <div layout="column" layout-align="center center">
                  <img src="img/icons/Poem.png" class="centerImage" />
                  <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Poem' && isShowDisplayName.checked">
                    <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                      <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                    </div>
                  </div>
                </div>
              </ion-item>
              <ion-item href="#/app/practicing/pronunciation">
                <div layout="column" layout-align="center center">
                  <img src="img/icons/Pronunciation.png" class="centerImage" />
                  <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Pronunciation' && isShowDisplayName.checked">
                    <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                      <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
            <div layout="row" layout-align="space-around center">
              <ion-item item-content href="#/app/practicing/face">
                <div layout="column" layout-align="center center">
                  <img src="img/icons/Poem.png" class="centerImage" />
                  <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'FacialPractice' && isShowDisplayName.checked">
                    <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                      <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                    </div>
                  </div>
                </div>
              </ion-item>
            </div>
          </ion-list>
        </md-card-content>
      </md-card>
    </div>
  </ion-content>
</ion-view>
