<ion-view cache-view="false" view-title="{{menuProfileTitle.Poem}}">
  <ion-content>
    <div class="container-fluid" ng-controller="PoemCtrl" ng-cloak>
      <div ng-show= "isMenu">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div layout="row" layout-align="center">
                <span class="md-headline" layout-align="center center" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">{{menuProfileTitle.Poem}}</span>
              </div>
            </md-card-title-text>
          </md-card-title>
        </md-card>
        <md-card>
          <md-card-content ng-repeat="content in practiceContents" ng-click="onPoemClick($event, content)">
            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">
              {{content.Title}}
              <span style="float: right"> {{content.Author}} </span>
            </span>
          </md-card-content>
        </md-card>
      </div>
      <div ng-hide= "isMenu">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <div class="md-headline" layout-align="center center" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">
                <div ng-click="onPoemTitleClick($event)">{{selectPoemObject.Title}} ({{selectPoemObject.Author}})</div>
                <md-button class="md-raised" ng-click="backToMenu()" style="float: right">Back</md-button>
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content ng-repeat="content in selectPoemObject.Content">
            <div style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px" ng-click="onPoemContentClick($event, $index)">{{content}}</div>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </ion-content>
</ion-view>
