<ion-view cache-view="false" view-title="{{menuProfileTitle.Poem}}">
  <ion-content>
    <div class="container-fluid" ng-controller="PoemCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <div layout="row" layout-align="center">
              <span class="md-headline" layout-align="center center" style="font-size:{{itemNormalFontSize}}px;line-height:{{itemNormalFontSize}}px;">{{menuProfileTitle.Poem}}</span>
            </div>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </ion-content>
</ion-view>
