<ion-view cache-view="false" view-title="{{Title}}">
  <ion-content>
    <div id="grid-container" class="container-fluid" ng-controller="SentenceCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <span class="md-headline">{{textGuide}}</span><span flex></span>     
        </md-card-title>
        <md-card-content>
          <h1 class="md-title" ng-repeat="displayLanguage in DisplayLanguageList" ng-if="displayLanguage.value == userProfile.DISPLAY_LANGUAGE">
            {{textDisplayLanguage}}: {{displayLanguage.name}}
          </h1>
        </md-card-content>
        <md-card-content>
          <md-button class="md-raised" ng-click=searchRecording()>{{textRecordState}}</md-button>
          <md-button class="md-raised"  ng-click=checkRecord() ng-disabled="!isRecorded">{{textCheck}}</md-button>
          <md-button class="md-raised" ng-click=uploadRecord() ng-disabled="!isRecorded">{{textUpload}}</md-button>
        </md-card-content>
      </md-card>

      <md-card ng-if="isShowResult">
        <md-card-title>
          <span class="md-headline">{{textSearchResult}}</span><span flex></span>
        </md-card-title>
        <h1></h1>
        <md-card-content  ng-repeat="word in resultWords" ng-if="$index < maxResultWordsDisplay" class= "searchResultPreview ">            
          <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{word}}</span>
        </md-card-content>     
      </md-card>
    </div>
  </ion-content>
</ion-view>
