<ion-view cache-view="false" view-title="{{Title}}">
  <ion-content>
    <div id="grid-container" class="container-fluid" ng-controller="SentenceCtrl" ng-cloak>
      <md-card>
        <md-card-content ng-repeat="sentence in sentences" ng-click="onSentenceCheck(sentence.ID)">
          <div ng-repeat="translation in sentence.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
          </div>
        </md-card-content>
      </md-card>

      <md-card>

      </md-card>


    </div>
  </ion-content>
</ion-view>

