<ion-view view-title={{subMenuProfileObject.PageTitle}}>
  <ion-content>
<div ng-controller="SettingCtrl" class="md-padding" ng-cloak>
  <div>

	<md-card>
	    <md-card-title>
	      <md-card-title-text>
          <span class="md-headline">{{subMenuProfileObject.LanguageSetting}}</span>
	      </md-card-title-text>
	    </md-card-title>

	    <md-card-content>
        <h1 class="md-title">{{subMenuProfileGeneral.DisplayLanguage}}</h1>
		    <div layout="row">
		      <md-input-container>
		        <md-select ng-model="selectedDisplayLanguage" ng-change="onSelectedDisplayLanguageChanged()">
		            <md-option ng-value="displayLanguage.value" ng-repeat="displayLanguage in displayLanguageList">{{displayLanguage.name}}</md-option>
		        </md-select>
		      </md-input-container>
		    </div>
        <h1 class="md-title">{{subMenuProfileGeneral.SpeechLanguage}}</h1>
		    <div layout="row">
		      <md-input-container>
		        <md-select ng-model="selectedSpeechLanguage" ng-change="onSelectedSpeechLanguageChanged()">
		            <md-option ng-value="speechLanguage.value" ng-repeat="speechLanguage in speechLanguageListOption">{{speechLanguage.name}}</md-option>
		        </md-select>
		      </md-input-container>
		    </div>
        <h1 class="md-title">{{subMenuProfileGeneral.SpeakerGender}}</h1>
		    <div layout="row">
		      <md-input-container>
		        <md-select ng-model="selectedSpeechGender" ng-change="onSelectedSpeechGenderChanged()">
		            <md-option ng-value="speechGender.value" ng-repeat="speechGender in speechGenderOptions">{{speechGender.name}}</md-option>
		        </md-select>
		      </md-input-container>
		    </div>
        <md-button class="md-raised" ng-click=onConfirmLanguageButtonClicked()>{{subMenuProfileGeneral.ConfirmButton}}</md-button>

	    </md-card-content>
	</md-card>

	<md-card>
	    <md-card-title>
	      <md-card-title-text>
          <span class="md-headline">{{subMenuProfileObject.Appearance}}</span>
	      </md-card-title-text>
	    </md-card-title>

      <md-card-content>
        <h1 class="md-title">{{subMenuProfileObject.PicSize}}</h1>
        <md-slider ng-model="itemNormalPicSize" min="180" max="240" ng-change="onItemNormalPicSizeChanged()"></md-slider>
        <h1 class="md-title">{{subMenuProfileObject.FontSize}}</h1>
        <md-slider ng-model="itemNormalFontSize" min="12" max="108" ng-change="onItemNormalFontSizeChanged()"></md-slider>
        <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px;">{{subMenuProfileObject.Example}}</span>
        <md-button class="md-raised" ng-click=onConfirmAppearanceButtonClicked()>{{subMenuProfileGeneral.ConfirmButton}}</md-button>
      </md-card-content>
	</md-card>

	<md-card>
	    <md-card-title>
	      <md-card-title-text>
          <span class="md-headline">{{subMenuProfileObject.ResetApp}}</span>
	      </md-card-title-text>
	    </md-card-title>

	    <md-card-content>
        <md-button class="md-raised" ng-click=onConfirmResetUserprofileButtonClicked()>{{subMenuProfileObject.ResetConfirm}}</md-button>
	    </md-card-content>
	</md-card>


  </div>
</div>

  </ion-content>
</ion-view>
