<ion-view cache-view="false" view-title={{menuProfileTitle.Download}}>
  <ion-content>
    <div id="grid-container" class="container-fluid" ng-controller="ShareCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{subMenuProfileObject.PageTitle}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-button class="md-raised" ng-click=refreshOnlineResource()>{{subMenuProfileGeneral.GetButton}}</md-button>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-content>
          <div class="row">
            <div class="col-md-1 grid-column" containerPositioning="relative" ng-model="shareCategory.categories">
              <div ng-repeat="category in shareCategory.categories" style="float:left;width:33%">
                <div ng-click="onItemClickedDownload($event, category.ID);" style="text-align:center;border:1px black dashed; height:{{itemNormalPicSize}}px">
                  <div style="height:{{itemNormalPicSize}}px" >
                    <img class='itemImage' src='{{ImagePath}}/{{category.ID}}.jpg' />
                    <div ng-repeat="translation in category.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                      <span class='itemNormalText' style="font-size:{{itemNormalFontSize}}px;" ng-if="isShowDisplayName.checked">{{translation.Text}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </md-card-content>
      </md-card>

    </div>
  </ion-content>
</ion-view>
