<ion-view cache-view="false" view-title={{Title}}>
  <ion-content>
    <div id="grid-container" class="container-fluid" ng-controller="ShareCtrl" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{Title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-button ng-click=refreshOnlineResource()>Get Now!</md-button>
        </md-card-content>
      </md-card>

      <div class="row">
        <div class="col-md-1 grid-column" containerPositioning="relative" ng-model="shareCategory.categories">
          <div ng-repeat="category in shareCategory.categories" style="float:left;width:32%">
            <div ng-click="onItemClickedDownload($event, category.ID);" style="text-align:center;border:2px blue dashed;">
              <img width="100%" src='{{ImagePath}}/{{category.ID}}.jpg' />
              <div class='itemNormalContainer' style="line-height: {{itemNormalFontSize}}px;" ng-if="isShowDisplayName.checked">
                <div ng-repeat="translation in category.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                  <span class='itemNormalText' style="font-size : {{itemNormalFontSize}}px;">{{translation.Text}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

