<ion-view cache-view="false" view-title={{subMenuProfileObject.PageTitle}}>
  <ion-content>
    <div ng-controller="VoiceModelCtrl" class="md-padding" ng-cloak>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{Title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <h1 class="md-title">{{subMenuProfileGeneral.UserID}}: {{userProfile.ID}}</h1>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{subMenuProfileObject.PageTitle}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row" >
            <span class="md-title">{{subMenuProfileObject.CollectionProgress}}: {{collectedVoice}} / {{totalVoice}}</span>
          </div>
          <h2></h2><h2></h2>
          <div layout="row">
            <span class="md-title">{{subMenuProfileObject.CollectionStatus}}: {{CollectionStatusText}}</span>
          </div>
          <div layout="row">
            <md-button class="md-raised" ng-click=startTrain() ng-disabled="collectionStatus">{{subMenuProfileObject.TrainModel}}</md-button>
          </div>
          <h2></h2><h2></h2>
          <div layout="row">
            <span class="md-title">{{subMenuProfileObject.ModelStatus}}: {{ModelStatusText}}</span>
          </div>
          <div layout="row">
            <md-button class="md-raised" ng-click=startTrain() ng-disabled="modelStatus">{{subMenuProfileObject.DownloadModel}}</md-button>
          </div>
        </md-card-content>
      </md-card>

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{subMenuProfileObject.AudioRecording}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <h2></h2><h2></h2>
          <div ng-repeat="translation in recordingSentences.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
            <span class='md-title'>{{translation.Text}}</span>
          </div>
          <h2></h2><h2></h2>
          <div layout="row">
            <md-button class="md-raised" ng-click=start() ng-disabled="checkStart">{{subMenuProfileGeneral.Start}}</md-button>
            <md-button class="md-raised" ng-click=stop() ng-disabled="checkStop">{{subMenuProfileGeneral.Stop}}</md-button>
            <md-button class="md-raised" ng-click=check() ng-disabled="checkStatus">{{subMenuProfileGeneral.Check}}</md-button>
            <md-button class="md-raised" ng-click=upload()>{{subMenuProfileGeneral.Upload}}</md-button>
          </div>
        </md-card-content>
      </md-card>

      <div layout="row" layout-align="center">
        <img class="enlarge_item_image" src="img/icons/recording.gif" ng-show="gifDisplay" style="width: 40%;height: 40%;"/>
      </div>
    </div>
  </ion-content>
</ion-view>
