<ion-view cache-view="false" view-title="Welcome">
        <ion-content>

          <div ng-controller="WelcomeCtrl" class="md-padding" ng-cloak>
            <div>
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Welcome to E-Commu-Book</span>
                    <!--<span class="md-subhead">Select your language preference</span>-->
                  </md-card-title-text>
                </md-card-title>
              </md-card>

            </div>
          </div>
        </ion-content>
      </ion-view>
