<ion-view cache-view="false" view-title={{subMenuProfileObject.PageTitle}}>
        <ion-content>
          <div ng-controller="WelcomeCtrl" class="md-padding" ng-cloak>
            <div>
              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{subMenuProfileObject.WelcomeText}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>

                  <ion-list>
                    <div layout="row" layout-align="space-around center">
                      <ion-item item-content href="#/app/userInformation">
                        <div layout="column" layout-align="center center">
                          <img src="img/icons/User.png" style="max-width: 50%;max-height: 50%;"/>
                          <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'UserInformation' && isShowDisplayName.checked">
                            <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                              <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                            </div>
                          </div>
                        </div>
                      </ion-item>
                      <ion-item item-content href="#/app/setting">
                        <div layout="column" layout-align="center center">
                          <img src="img/icons/Setting.png" style="max-width: 50%;max-height: 50%;"/>
                          <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Setting' && isShowDisplayName.checked">
                            <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                              <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                            </div>
                          </div>
                        </div>
                      </ion-item>
                  </div>
                  <div layout="row" layout-align="space-around center">
                    <ion-item href="#/app/addCategory">
                      <div layout="column" layout-align="center center">
                        <img src="img/icons/Add.png" style="max-width: 50%;max-height: 50%;"/>
                        <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'AddCategory' && isShowDisplayName.checked">
                          <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                          </div>
                        </div>
                      </div>
                    </ion-item>
                    <ion-item href="#/app/share">
                      <div layout="column" layout-align="center center">
                        <img src="img/icons/Download.png" style="max-width: 50%;max-height: 50%;"/>
                        <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Download' && isShowDisplayName.checked">
                          <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                          </div>
                        </div>
                      </div>
                    </ion-item>
                  </div>
                  <div layout="row" layout-align="space-around center">
                    <ion-item href="#/app/search">
                      <div layout="column" layout-align="center center">
                        <img src="img/icons/Search.png" style="max-width: 50%;max-height: 50%;"/>
                        <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Search' && isShowDisplayName.checked">
                          <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                          </div>
                        </div>
                      </div>
                    </ion-item>
                    <ion-item href="#/app/sentence">
                      <div layout="column" layout-align="center center">
                        <img src="img/icons/Sentence.png" style="max-width: 50%;max-height: 50%;"/>
                        <div ng-repeat="operation in menuProfile.Operations" ng-if="operation.OperationType == 'Sentence' && isShowDisplayName.checked">
                          <div ng-repeat="translation in operation.DisplayMultipleLanguage" ng-if="translation.Language == userProfile.DISPLAY_LANGUAGE">
                            <span style="line-height:{{itemNormalFontSize}}px;font-size:{{itemNormalFontSize}}px">{{translation.Text}} </span>
                          </div>
                        </div>
                      </div>
                    </ion-item>
                  </div>
                  
                  </ion-list>
                </md-card-content>
              </md-card>
            </div>
          </div>
        </ion-content>
</ion-view>
